.app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;

  @media screen and (max-width: 900px) {
    padding: 0.5rem 2rem;
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  li {
    margin: 0 1rem;
    flex-direction: column;

    a {
      color: var(--gray-color);
      text-decoration: none;
      flex-direction: column;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.3rem;
      margin-right: 0.5rem;
      padding-left: 0.5rem;
      border-top: 2px solid transparent;
      padding: 1rem;
      &:hover {
        border-top: 2px solid var(--secondary-color);
      }
    }
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color);

  svg {
    cursor: pointer;
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    padding: 1rem;

    width: 13rem;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background-color: var(--white-color);
    // background: url('../../assets/bgWhite.png');
    // background-size: cover;
    // background-repeat: repeat;

    /* top box shadow */
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--gray-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;

          transition: all 0.3s ease-in-out;
          letter-spacing: 0.3rem;

          // &:hover {
          // }
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}

.app__social--navbar {
  display: flex;

  a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid var(--lightGray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 0.5rem;

    svg {
      width: 55%;
      height: 55%;
      color: var(--gray-color);
    }

    img {
      width: 90%;
      height: 90%;
      object-fit: cover;
      filter: grayscale(1);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }

      img {
        filter: grayscale(0);
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }
}

.app__navbar-flag {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid var(--lightGray-color);

  img {
    width: 90%;
    height: 90%;
    filter: grayscale(1);
    transition: all 0.2s ease-in-out;
    margin-right: 0.45px;
  }

  &:hover {
    img {
      filter: grayscale(0);
    }
  }
}

.app__navbar-flag-social {
  display: flex;
  gap: 0.5rem;
}
